@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;

}

body {
  background-image: url("../images/56542b81f3ab15693ad95a3031065c5a.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}
